
 #countLable{
    display: block;
    font-size: 10em;
text-align: center;
}
#container{
    text-align: center;




}
#decreasebtn{
    padding: 5px 5px ;
    background-color: blue;
    color: aliceblue;
    margin: 5px;
    cursor: pointer;
    border: none;
    box-sizing: content-box;
    border: dotted rgb(248, 37, 185);
    font-size: 30px ;




}
#increasebtn:hover{
    background-color: red;
}
#resetbtn:hover{
    background-color:red;
}
#decreasebtn:hover{
    background-color: red;
}




#increasebtn{
    padding: 5px 5px ;
    background-color: blue;
    border: none;
    color: aliceblue;
    margin:5px;
    cursor: pointer;
    box-sizing: content-box;
border: dotted rgb(248, 37, 185);
font-size: 30px ;


}
#resetbtn{
    padding: 5px 5px ;
    background-color: blue;
    color: aliceblue;
    margin: 5px;
    cursor: pointer;
    border: none;
    box-sizing: content-box;
    font-size: 30px ;


    border: dotted rgb(248, 37, 185);


}
